* {
	outline: 1px solid rgb(255, 255, 153, 0.3);
}

ul {
	outline: 1px solid rgb(0, 102, 153, 0.3);
}

body {
	margin: 0;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #fff;
	background-color: #849d8f;
	/* background-image: url("../img/gllacy-index.jpg"); /*временно фон-подложка для главной*/ */
	background-position: top center;
	background-repeat: no-repeat;
}

.body-inner {
	background-image: url("../img/gllacy-catalog.jpg"); /*временно фон-подложка для страницы каталога*/
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button,
a.button {
	border: none;
	font-size: 18px;
	line-height: 24px;
	padding: 10px 22px;
	font-weight: bold;
	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
	background-image: linear-gradient(to top, #e74a35, #f26843);
	border-radius: 30px;
	color: #fff;
}

.wraper-1146,
.main-footer {
	width: 1146px;
	margin: 0 auto;
	
}

.main-header {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.first-line-menu,
.second-line-menu {
	display: flex;
outline: 1px solid rgb(169, 85, 9, 0.7); /*синий*/		
}


.main-header-logo {
	width: 154px;
	height: 64px;
	padding: 0;
}	

.main-navigation {
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.user-navigation-wraper {
 	display: flex;
	margin-left: auto;
	margin-top: 10px;
}

.site-navigation,
.user-navigation,
.submenu-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	padding-left: 12px;
	margin-top: 12px;
}

.site-navigation a {
	display: block;
	color: #f7f6f3;
	padding: 10px 13px;
	border-radius: 20px;
}

.basket-empty {
	max-width: 100px;  /* добавила, проверить*/
	margin-left: 10px;
}


.basket-full {
	min-width: 117px;
	margin-left: 9px;
}

.user-navigation {
	width: 93px;
	margin-left: 9px;
}

.basket-empty a,
.basket-full a,
.user-navigation a {
	display: block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #fff;
	border-radius: 20px;	
}

.search a {
	display: flex;
	width: 33px;
	height: 33px;
	align-items: center;
  justify-content: center;
  	background-color: rgb(255, 255, 255, 0.2);
	border-radius: 50%;
}


.search a:hover,
.search a:focus {
  background-color: #fff;
}

.search a:hover path,
.search a:focus path {
  fill: #000;
}

.basket-empty a {
	padding: 10px 20px 10px 45px;
	position: relative;
	background-color: rgb(255, 255, 255, 0.2);
}

.basket-empty a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1.0;
}

.basket-full a {
	padding: 10px 18px 10px 43px;
	color: #323232;
}

.user-navigation a {
	padding: 10px 20px 10px 45px;
	position: relative;
	background-color: rgb(255, 255, 255, 0.2);
}

.user-navigation a::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 16px;
  width: 21px;
  height: 19px;
  background-image: url("../img/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 1.0;
}

.user-navigation a:hover::before,
.user-navigation a:focus::before,
.user-navigation a:active::before {
	background-image: url("../img/entrance.svg");
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #f7f6f3;
	color: #323232;
}

.submenu-navigation {
	width: 143px;
	background-color: #f8f7f4;
	border-radius: 10px;
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

li.site-navigation-catalog {
	position: relative;
}

li.site-navigation-catalog ul.submenu-navigation {
	display: none;
	position: absolute;
	top: 45px;
	left: -7px;
}

li.site-navigation-catalog:hover ul.submenu-navigation {
  display: block;
}


.submenu-navigation a {
	display: block;
	padding: 10px 15px;
	font-size: 14px;
	line-height: 16px;	
	font-weight: normal;
	background-color: #f8f7f4;
	color: #323232;
	border-radius: 0;
}

.submenu-item a {
	display: block;
} 

.submenu-item a:hover,
.submenu-item a:focus {
	background-color: rgb(208, 112, 88, 0.2);
} 

.submenu-item a:active {
	background-color: rgb(208, 112, 88, 0.5);
} 

.submenu-item-new a {
	font-weight: bold;
	border: 1px solid #ccc;
} 

.shop-mode-contacts {  
	margin: 0;	
	margin-left: auto;
	padding: 0;
	font-weight: bold;
outline: 1px solid rgb(169, 85, 9, 0.7); /*синий*/	
}

.shop-mode {
	display: block;
	text-align: right;
	font-size: 14px;
	line-height: 16px;	
	font-weight: bold;
outline: 1px solid rgb(169, 85, 9, 0.7); /*синий*/		
}

.phone a {
	display: block;
	margin-top: 5px;
	text-align: left;
	font-size: 22px;
	line-height: 24px;
	color: #fff;
}

.modal-login {
	position: absolute;
	bottom: -5px;
	right: 0px;
	width: 277px;
}

.login-form	a {
	font-size: 13px;
	line-height: 24px;
	color: #323232;	
	text-decoration: underline;
}

.main-banner {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin-bottom: 40px;
}

.main-profitable-proposition-1,
.main-profitable-proposition-2 {
	margin-top: 530px;
	display: flex;
	flex-direction: column;
	width: 520px;
	padding: 15px 20px 22px 20px;
	border-radius: 15px;
}

.main-profitable-proposition-1 {
	background-image: url("../img/background-raspberry.jpg"); 
}

.main-profitable-proposition-2 {
	background-image: url("../img/background-chocolate.jpg"); 
}

.main-banner-h2 {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	font-size: 35px;
	line-height: 41px;	
}

.main-banner p {
	margin: 0;
	padding: 0;
	margin-bottom: 44px;
	font-size: 18px;
	line-height: 22px;	
}

.button-main-banner {
	margin-left: auto;
	vertical-align: top;
}

.catalog {
	margin-bottom: 40px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-list p {
	margin: 0;
	padding: 0;
}

.catalog-item {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-direction: column-reverse;
	width: 267px;
	margin-right: 26px;
outline: 1px solid rgb(169, 85, 9, 0.3); /*синий*/	
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
outline: 2px solid rgb(169, 85, 9, 0.3); /*синий*/	
}

.catalog-item {
	margin-bottom: 15px; 
}	

.catalog-item-image img {
	width: 267px;
	height: 267px;
	border-radius: 50%;
}

.catalog-item-name {
	margin: 0;
	min-height: 44px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	padding: 10px 5px 20px 5px;
}

.catalog-item-price {
	position: absolute;
	bottom: 85px;
}

.catalog-item-price b {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.price-per-kg {
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
}

.hit {
	position: absolute;
	top: 0;
	left: 0;
}


.main-info {
	display: flex;
	flex-direction: column;
	/* background-color: #e8dec3; */
	/* background-image: url("../img/waffle-pattern.png");  */
	color: #323232;	
	border-radius: 15px;
	margin-bottom: 38px;
	padding: 25px 20px 15px 20px;
outline: 1px solid rgb(169, 85, 9, 0.3); /*синий*/
}

.main-info-h2 {
	margin: 0;
	padding-bottom: 10px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: normal;
	font-weight: 500;
}

.info-column {
	display: flex;
	justify-content: space-between;
outline: 1px solid rgb(51, 153, 102, 0.7);/*зеленый*/
}

.info-column-left, 
.info-column-right {
	width: 540px;
	outline: 1px solid rgb(169, 60, 92, 0.3);
}

.main-info p {
	margin: 0;
	margin-bottom: 0px;
	padding: 12px 5px 10px 58px;
	outline: 1px solid rgb(169, 60, 92, 0.3);
}

.main-info-icon-1 {
	background-image: url("../img/ice-cream.svg");
	background-repeat: no-repeat;
}

.main-info-icon-2 {
	background-image: url("../img/eco.svg");
	background-repeat: no-repeat;
}	

.main-info-icon-3 {
	background-image: url("../img/cow.svg");
	background-repeat: no-repeat;
}	

.main-info-icon-4 {
	background-image: url("../img/thermometer.svg");
	background-repeat: no-repeat;
}		

.main-new {
	width: 540px;
	border-radius: 15px;
	margin: 0;
	padding: 13px 0 0 20px;
	background-image: url("../img/background-strawberry.jpg"); 
	background-repeat: no-repeat;
	background-color: #fff; 
}


.main-subscription {
	width: 508px;
	border-radius: 15px;
	margin: 0;
	padding: 36px 26px;
	background-image: url("../img/background-post.png");
	background-repeat: repeat;
	background-color: #f8f7f4; 
	color: #323232;	
	font-weight: normal;
	position: relative;
outline: 1px solid rgb(169, 60, 92, 0.3);	
}

.main-banner-news {
	margin: 0;
	padding: 10px 0 6px 0;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-weight: 500;	
}

a .new {
	margin: 0;
	padding: 0 250px 0 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #323232;
}


.main-subscription p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
	margin-bottom: 35px;
}

.form-subscription-wraper {
	width: 508px;
	margin: 0 auto;
outline: 1px solid rgb(169, 60, 92, 0.3);		
}

.subscription {
	display: flex;
	justify-content: space-between;
}

.button.button-subscription {
	padding: 10px 18px;
}

.subscription  input {
	width: 350px;
	padding: 9px;
	border: 1px solid #999;
	border-radius: 5px;
}

.main-map {
	position: relative; 
	width: 1200px;
	height: 430px;
	margin: 0 auto;
	background-image: url("../img/map-with-pin1.jpg");
	margin-bottom: 18px;
}

.main-contacts {
	position: absolute;
	top: 63px;
	right: 27px;
	width: 250px;
	font-size: 14px;
	line-height: 20px;
	color: #323232;
	padding: 30px 26px;
	background-color: # fff; 
	border-radius: 15px;
outline: 1px solid rgb(169, 60, 92, 0.3);	
}

.main-contacts p {
	margin: 0;
}

.main-contacts p:first-of-type {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 20px;
	padding: 0 102px 0 0;
}

.main-contacts p:last-of-type {
	padding-bottom: 23px;
}

.main-address {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	padding: 0 0 16px 0;
outline: 1px solid rgb(169, 60, 92, 0.3);	
}

.main-phone {
	display: block;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	padding: 5px 0 5px 0;	
}

.main-contacts a {
	color: #323232;
}

.button.button-main-contacts {
	display: block;
	padding: 10px 26px;
	color: #fff;
}		


.main-footer {
	display: flex;
outline: 1px solid rgb(169, 60, 92, 0.5);	

}


.footer-social,
.footer-menu {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-menu {
	width: 302px;
	margin-top: 13px;
outline: 1px solid rgb(169, 60, 92, 0.5);	
}

.footer-social {
	width: 295px;
	margin-right: 127px;
	
}

.social-button {
	margin: 15px 10px 0 0;
}

.footer-social a {
	display: block;
	color: #000;
}

.footer-menu li {
	font-size: 13px;
	line-height: 18px;
outline: 1px solid rgb(169, 60, 92, 0.5);	
}

.footer-menu li:nth-child(odd) {
	width: 140px;
}

.footer-menu li:nth-child(even) {
	width: 162px;
}

.footer-menu a {
	display: block;
	color: #fff;
	padding-top: 0;
}


.footer-copyright {
	margin-left: auto;
}

.footer-copyright a {
	display: block;
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	padding-top: 0px;
}

.footer-copyright p {
	margin: 0;
	padding: 0;
}


.search-site input,
.login-form input,
.login-form input,
.subscription input {
	font-size: 16px;
	line-height: 24px;	
	color: #999;
}


.modal-feedback h2 {
	font-size: 24px;
	line-height: 28px;	
	color: #323232;
}

.table-basket {
	border-collapse: collapse;
}

.table-basket td {
	font-size: 13px;
	line-height: 16px;
	background-color: #fff;	
	color: #323232;
}

.table-basket-price {
	color: #999;
}

.user-basket-total,
.user-basket-sum {
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	color: #323232;
}

ul.breadcrumbs {
	vertical-align: bottom;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs-current,
.breadcrumbs a  {
	display: block;
	font-size: 14px;
	line-height: 16px;	
	color: #fff;
	padding: 25px 20px 5px 0;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:visited,
.breadcrumbs a:active,
.breadcrumbs a:link  {
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.page-title {
	margin: 0 0 195px 0;
	font-size: 35px;
	line-height: 41px;	
	font-weight: bold;
}

.pagination-list {
	display: flex;
	justify-content: flex-end;
	margin: 0;
	margin-bottom: 44px;
	padding: 0;
	list-style: none;
	text-decoration: none;
outline: 1px solid rgb(169, 60, 92, 0.5);		
}
	
.pagination-page a,
.pagination-page-curren a {
	display: block;
	width: 19px;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	padding: 5px;	
}

.pagination-prev-page a{
	text-align: left;
	padding-left: 0;	
}

.pagination-next-page a {
	text-align: right;
	padding-right: 0;	
}

.pagination-page-curren a {
	color: #323232;	
}

.pagination-page a {
	color: #000;	
}

.hr-before-footer {
	margin: 0;
	padding: 0;
	color: #fff;
	size: 1px;
}











































