body {
	margin: 0;
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #fff;
	background-color: #849d8f;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-navigation {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}

.site-navigation,
.user-navigation,
.submenu-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation a {
	color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #f7f6f3;
	color: #323232;
}

.submenu-navigation {
	margin: 0;
	padding: 0;
	width: 143px;
	background-color: #f8f7f4;
	box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.submenu-navigation a {
	display: block;
	padding: 10px 15px;
	font-size: 14px;
	line-height: 16px;	
	font-weight: normal;
	background-color: #f8f7f4;
	color: #323232;
}

.submenu-item-new a {
	font-weight: bold;
	border: 1px solid #ccc;
} 

.shop-mode-contacts {
	font-weight: bold;
}

.shop-mode {
	font-size: 14px;
	line-height: 16px;	
	font-weight: bold;
}

.phone a {
	font-size: 22px;
	line-height: 24px;
	color: #fff;	
}

.main-banner {
	font-weight: bold;
}

.main-banner-h2 {
	font-size: 35px;
	line-height: 41px;	
}

.main-banner p {
	font-size: 18px;
	line-height: 22px;	
}

.button-main-banner {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.catalog ul {
	list-style: none;
}

.catalog-item-name {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #fff;
}

.catalog-item-price b {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.price-per-kg {
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
	text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.main-info {
	background-color: #e8dec3;
	color: #323232;	
}

.main-info h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;	
}

.main-new {
	background-color: #fff;
	color: #323232;		
}

.main-subscription {
	background-color: #f8f7f4;
	color: #323232;		
}

.main-new h2 {
	font-weight: 500;	
}

a .main-banner-new {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: underline;
	background-color: #fff;
	color: #323232;	
}

.main-subscription p {
	color: #5a5a5a;		
}

.main-contacts {
	font-size: 14px;
	line-height: 20px;
	color: #323232;	
}

.main-address {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;	
}

.main-phone {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;	
}

.main-contacts a {
	color: #323232;
}	


.footer-menu ul,
.footer-social ul {
	list-style: none;
	font-size: 13px;
	line-height: 18px;
}

.footer-menu a,
.footer-social a {
	color: #fff;
}

.footer-copyright a {
	font-size: 12px;
	line-height: 18px;
	color: #fff;		
}

.button,
a.button {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
	background-image: linear-gradient(to top, #e74a35, #f26843);
	color: #fff;
}


.basket a,
.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;	
	color: #fff;		
}



.subscription input{
	font-size: 16px;
	line-height: 24px;	
	color: #999;
}

.search-site input,
.login-form input,
.login-form input {
	font-size: 16px;
	line-height: 24px;	
	color: #999;
}

.login-form	a {
	font-size: 13px;
	line-height: 24px;
	color: #323232;	
	text-decoration: underline;
}

.modal-feedback h2 {
	font-size: 24px;
	line-height: 28px;	
	color: #323232;
}

.table-basket {
	border-collapse: collapse;
}

.table-basket td {
	font-size: 13px;
	line-height: 16px;
	background-color: #fff;	
	color: #323232;
}

.table-basket-price {
	color: #999;
}

.user-basket-total,
.user-basket-sum {
	font-size: 15px;
	line-height: 18px;
	font-weight: bold;
	color: #323232;
}

ul.breadcrumbs {
	list-style: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:visited,
.breadcrumbs a:active,
.breadcrumbs a:link  {
	font-size: 14px;
	line-height: 16px;	
	color: #fff;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.breadcrumbs-current {
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
}

.page-title {
	font-size: 35px;
	line-height: 41px;	
	font-weight: bold;
}

ul.pagination-list {
	list-style: none;
	text-decoration: none;
}
	
.pagination-item,
.pagination-item-curren {
	font-size: 16px;
	line-height: 18px;	

}

.pagination-item-curren a {
	color: #323232;	
}

.pagination-item a {
	color: #fff;	
}











































